body {
    background: rgba(167, 170, 5, 0.192);
    text-align: center;
}

#root {
    background: rgba(102, 192, 19, 0.938);
    border: solid;
    font-family: Optima;
    font-size: 20px;
    /* position: relative; */
    padding: 40px;
    margin: 10px;
    /* display: inline-block; */
    /* text-align: center; */
    height: 800px;
    max-width: 100%;
    margin-top: 3em;
}

#root p {
    text-align: center;
}

.next {
    height: 800px;
    max-width: 100%;
    margin-top: 3em;
    border: solid;
    margin: 3em;
    
}